 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check out</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">  
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/UC06_style.css">
</head>
    <body>
    <%- include('partials/header') %>

    <div class="main">
        <div id="enterCard" class="checkout visible">
            <h1>Please input checkout information</h1>
            <input type="text" id="fname" placeholder="First Name">
            <input type="text" id="lname" placeholder="Last Name">
            <input type="text" id="card" placeholder="Card Number">
            <input type="text" id="experation" placeholder="Experation Date">
            <input type="text" id="cvv" placeholder="CVV">
            <p class="error" id="error">ERROR: Invalid Information</p>
            <form action="/cart/doCheckout" method="POST">
                <Button type="button" id ="useCardBtn" class="btn btn-primary">Use Saved Card</button>
                <Button type="submit" id ="btnSubmit" class="btn btn-primary">Check out</button>
            </form>
        </div>
        <div id="useCard" class="checkout">
            <h1>Choose which card to use</h1>
            <select class="cardSelect" name="type" id="cardSelect">
                <option value="">-- Select Card --</option>
                <% if (cards.length > 0) { %>
                    <% cards.forEach( cards => { %>
                        <option value="<%= cards.cardName %>"><%= cards.cardName %></option>
                <% })} %>
            </select>
            <input type="text" id="cvv2" placeholder="CVV">
            <p class="error" id="error2">ERROR: Invalid Information</p>
            <form action="/cart/doCheckout" method="POST">
                <Button type="button" id ="enterCardBtn" class="btn btn-primary">Enter Card</button>
                <Button type="submit" id ="btnSubmit2" class="btn btn-primary">Check out</button>
            </form>
        </div>
        <div class="cartBox">
            <p>Your Cart</p>
            <table style=width:100%>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Cost</th>
            </tr>
            <% if (cart.length > 0) { %>
                <% cart.forEach(product => { %>
                <tr>
                    <td><%= product.listName %></td>
                    <td><%= product.cartQuanity %></td>
                    <td>$<%= product.listPrice %></td>
                </tr>
            <% }) %>
            <% } else { %>
                <td>No items in cart</td>
            <% } %>
            <tr>
                <td></td>
                <th>Subtotal</th>
                <td>$<%= subtotal %></td>
            </tr>
            <tr>
                <td></td>
                <th>Tax</th>
                <td>$<%= parseFloat(subtotal*.088).toFixed(2) %></td>
            </tr>
            <tr>
                <td></td>
                <th>Total</th>
                <td>$<%= parseFloat(subtotal*1.088).toFixed(2) %></td>
            </tr>
            </table>
        </div>
    </div>
    <script src="/javascripts/checkout.js"></script>
    </body>
</html> 
